<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Json to html</title>
    <script src="https://kit.fontawesome.com/307e2eecdc.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="game-navbar">
      <section>
        <div>
          <span>Json to html</span>
        </div>
  
        <div>
          <a target="_blank" href="https://jesusbossa.dev">
            <i class="fas fa-home"></i>
          </a>
          <a target="_blank" href="https://twitter.com/jesMakinox">
            <i class="fab fa-twitter-square"></i>
          </a>
          <a target="_blank" href="https://www.linkedin.com/in/makinox">
            <i class="fab fa-linkedin"></i> 
          </a>
        </div>
      </section>
    </nav>

    <article class="article-body">
      <div>
        <textarea id="article-body-json" cols="30" rows="10" vale>
{
  "element": "ul",
  "children": [
    {"element":"il"},
    {"element":"il"}
  ]
}
      </textarea>
      </div>
      <div>
        <input type="number">
      </div>
      <div>
        <textarea id="article-body-element" cols="30" rows="10"></textarea>
      </div>
    </article>

  </body>
</html>
